<%= form_with model:book,local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  <div class="form-group">
    <%= f.label :tag_name %>
    <%= f.text_field :tag_name, placeholder:",で区切ってください" %>
  </div>
  <% if book.id ===nil %>
  <div class="form-group" id="star">
    <label>評価：</label>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>
  <% else %>
  <td>
    <%= render 'books/star', book: book %>
  </td>
  <% end %>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
<script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'book[rate]',
    half: true,
  });
</script>
